*{
    margin: 0px;
    padding: 0px;
}
.list{
    display: flex;
}
/* Navigation Bar */
.navbar{
    display: flex;
    background-color: rgba(19, 6, 6, 0.975);
    color: white;
    justify-content:space-around;
    width:1085px; height: 60px;
    
}
.logo{
  border-right: 1px solid #ffffff;
  width: 80px;
  padding: 7px 40px;
  margin-top: 9px;
  
}
.list{
    list-style: none;
    margin-top: 20px;
    gap: 45px;
    font-family: sans-serif;
    position:relative;
    right: 140px;
    font-size: 13px;
}
.button-small{
    position: relative;
    top: 15px;
    width: 130px; height: 30px;
    border-radius: 5px;
    background-color: rgb(178, 27, 198);
    color: #ffffff;
    border-style: none;
   
}
/* Hero Section */
.hero{
    width:auto;
    height: 600px;
    text-align:center;
    background-image: url(./assets/bg.png);
    background-size:1085px 600px;
    background-repeat: no-repeat;
    overflow: hidden;
}
.hero-heading{
   font-size: 60px;
   font-family:poppins;
   color: #ffffff;
   width: 800px;
   position: relative;
   bottom: 15px;
   height: 200px;
   line-height: 75px;
   padding: 100px 150px 0px;
}
.hero-description{
    color: #ffffff;
    font-family:poppins;
    position: relative;
    bottom: 60px;
    font-size: 20px;
    letter-spacing: 1px;
}
.button-large{
    width: 240px; height: 45px;
    background-color: rgb(178, 27, 198);
    color: #ffffff;
    border-style: none;
    border-radius: 7px;
    position: relative;
    bottom: 30px;
    font-family:poppins;
    text-transform:lowercase;
    font-size: 20px; 
    font-weight: 500;
}
button::first-letter{
    text-transform: capitalize;
}