*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    height: 7rem;
    /* background-color: rgb(38, 161, 120); */
}
nav .block-1{
    background-color: rgb(122, 201, 86);
    width:30%;
    height:5rem;
}
nav .block-2{
    background-color: rgb(201, 128, 86);
    width:60%;
    height:5rem;
}

.main-block-1{
    width: 95%;
    margin: auto;
    height: 30rem;
    background-color: rgb(250, 172, 76);
}
.main-block-2{
    margin: 1rem 1.8rem 1rem 1.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.main-block-2 .mini-block{
    width: 25%;
    height: 20rem;
    background-color: rgb(109, 185, 79);
}
.footer-block{
    width: 95%;
    height: 20rem;
    margin: auto;
    background-color: rgb(228, 83, 127);
}

/* ---------------------------- For Laptops --------------------------- */

@media screen and (max-width: 1024px) {
   
    .main-block-2 .mini-block {
        width: 25%;
        height: 15rem;
        background-color: rgb(109, 185, 79);
    }
    .main-block-1{
        width: 95%;
        margin: auto;
        height: 25rem;
        background-color: rgb(250, 172, 76);
    }
    .footer-block{
        width: 95%;
        height: 20rem;
        margin: auto;
        background-color: rgb(228, 83, 127);
    }
    
}

/*-------------------------------------------- For Tablet ---------------------------  */

@media screen and (max-width: 768px) {
   
    .main-block-2 .mini-block {
        width: 25%;
        height: 10rem;
        background-color: rgb(109, 185, 79);
    }
    .main-block-1{
        width: 95%;
        margin: auto;
        height: 20rem;
        background-color: rgb(250, 172, 76);
    }
    .footer-block{
        width: 95%;
        height: 15rem;
        margin: auto;
        background-color: rgb(228, 83, 127);
    }
}
/* -------------------- For Mobile ---------------------------- */

@media screen and (max-width: 640px) {
   
    .main-block-2{
        margin: 1rem .6rem 1rem .6rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items:center;
    }
    .main-block-2 .mini-block{
        width: 100%;
        height: 4rem;
        margin: .2rem 0;
        background-color: rgb(109, 185, 79);
    }
    .main-block-1{
        width: 95%;
        margin: auto;
        height: 10rem;
        background-color: rgb(250, 172, 76);
    }
    .footer-block{
        width: 95%;
        height: 10rem;
        margin: auto;
        background-color: rgb(228, 83, 127);
    }
    nav .block-1{
        background-color: rgb(122, 201, 86);
        width:30%;
        height:2rem;
    }
    nav .block-2{
        background-color: rgb(201, 128, 86);
        width:60%;
        height:2rem;
    }
    nav{
        height: 3rem;
    }
}
