@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@200;300;400;600;700&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
}
body{
    background-color: rgb(41, 40, 40);
}
body::-webkit-scrollbar{
    display: none;
}
.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    width: 100vw;
    height: 15vh;
    /* background-color: yellow; */
}
.list{
    display: flex;  
    gap: 30px;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-size: 12px;
    margin-left:170px;
    color: rgb(194, 194, 194);
}
a{
    color: rgb(194, 194, 194);
    text-decoration: none;
}
a:hover{
    color: aqua;
    transition: .2s;
}
button{
    padding: 7px 12px;
    background-color: rgb(41, 40, 40);
    border-color:rgb(160, 138, 14);
    border-radius:7px;
    color: rgb(181, 158, 31);
    border-width: 1px;
    font-family:sans-serif;
    font-weight:bold;
    margin-right: 187px;
    font-size: 10px
}
button:hover{
   border-color: aqua;
   transition: .3s;
    
}
.navbar-container>div>img{
    width: 100px;
    margin-left: 195px;
}
.hero-container{
    color: #ffffff;
    display: flex;
    gap: 40px;
    align-items: center;
    width: 100vw;
    height: 30vh;
    /* background-color: goldenrod; */
}
.hero-heading{
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-weight: 700;
    font-size: 22px;
    width: 350px;
    line-height: 55px;
    margin-left: 200px;
}
.hero-description{
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-weight: 400;
    font-size: 15px;
    width: 310px;
    line-height:20px;
}
.banner>img{
    width: 700px;
}
.banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
}