@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body::-webkit-scrollbar{
    display: none;
}
header{
    width: 100%;
    min-height:100vh;
    background: linear-gradient(172deg, #fcfdff 40%,#cfefff 80%);
    clip-path: polygon(100% 0, 100% 25%, 100% 85%, 0 100%, 0 100%, 0 0);
    border: 1px solid rgba(255, 255, 255, 0);
}
/* ------------------------------- Navigation Section ----------------------- */
.navbar-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 8rem;
    margin-top: 2rem;
    /* border: 1px solid red; */
}
.navbar-container .logo img{
    width: 6rem;
    cursor: pointer;
}
.navbar-container .nav-menu{
    display: flex ;
    flex-direction: row ;
    align-items: center;
}
.navbar-container .nav-menu .list{
    display:flex;
    flex-direction: row;
    list-style: none;
}
.navbar-container .nav-menu .list a{
    text-decoration: none;
    color: rgb(31, 31, 31);
    font-family: 'Poppins', sans-serif;
    font-size: .8rem;
    font-weight:600;
    margin-right:2rem;
    transition: .2s ease-in-out;
}
.navbar-container .nav-menu .list a:hover{
    color: rgba(115, 0, 255, 0.868);
    text-decoration:underline;
}
.navbar-container .nav-menu .shop-btn a{
    text-decoration: none;
    color: rgb(137, 33, 193);
    font-family: 'Poppins', sans-serif;
    font-size: .7rem;
    font-weight:600;
    border: 1.5px solid rgb(137, 33, 193);
    padding: .7rem 1.2rem;
    border-radius: 20px;
    transition: .3s ease-in-out;
    transform: translateY(0px);
}
.navbar-container .nav-menu .shop-btn a:hover{
    box-shadow: 0px 0px 5px 1px rgba(70, 7, 187, 0.708);
    border-radius: 20px;
}
.navbar-container .nav-menu .shop-btn{
    transition: .3s ease-in-out;
}
.navbar-container .nav-menu .shop-btn:hover{
    transform: translateY(-2px);
}
/* ----------------Hero Section --------------------------------*/
.hero-container{
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
    justify-content:center;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 4rem;
    gap: 25px;
}
.hero-container .left .learn-more{
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
    width: 57%;
    gap: 10px;
    background-color: rgba(243, 230, 255, 0.731);
    padding: .3rem 0 .3rem .5rem;
    border-radius: 20px;
    font-family: sans-serif;
    font-size: .9rem;
    font-weight: 600;
    color: rgb(108, 17, 187);
    margin-bottom: 1rem;
}
.hero-container .left .learn-more span{
    text-decoration: underline;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.hero-container .left .learn-more span:hover{
    color: #0738bd;
}
.hero-container .left h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3rem;
    margin-bottom: 1rem;
}
.hero-container .left > p{
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    color: #686868;
    font-weight: 500;
    line-height: 1.3rem;
    margin-bottom: 2rem;
}
.hero-container .left .hero-btn a:nth-last-child(2){
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: .7rem;
    color: #f7f7f7;
    font-weight: 600;
    padding: .7rem 1.5rem;
    background-color: rgb(143, 81, 188);
    border-radius: 28px;
    transition: .4s ease-in-out;
}
.hero-container .left .hero-btn a:nth-last-child(2):hover{
    box-shadow: 0px 0px 10px 2px rgba(70, 7, 187, 0.708);
    border-radius: 28px;
    background-color: #f7f7f7;
    color:rgb(120, 23, 189) ;
}
.hero-container .left .hero-btn a:nth-last-child(1){
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: .7rem;
    color:rgb(125, 45, 183);
    font-weight: 600;
    padding: .7rem 1.7rem;
    background-color:#fff;
    border-radius: 28px;
    margin-left: 1rem;
    transition: .4s ease-in-out;
}
.hero-container .left .hero-btn a:nth-last-child(1):hover{
    box-shadow: 0px 0px 10px 2px rgba(70, 7, 187, 0.708);
    border-radius: 28px;
    background-color:rgb(133, 77, 173);
    color:rgb(230, 230, 230) ;
}
.hero-container .right img{
    width:400px;
    cursor: pointer;
    transition: .4s ease-in-out;
}
.hero-container .right img:hover{
    transform: translateY(-10px);
}
/* -------------------------------- Main Section ------------------------*/
/* ----------- Section-1 ------------------*/

main .big-data{
    /* border: 1px solid red; */
    margin: 4rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.big-data .eye-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: .6rem 0;
    background-color:rgb(246, 238, 255) ;
    width:12%;
    cursor: pointer;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    color: #813fe4;
    font-weight: 500;
    gap: 10px;
    margin: auto;
    transition: .4s ease-in-out;
}
.big-data .eye-img:hover{
    transform: translateY(-10px);
    box-shadow: 0px 0px 10px 2px rgba(70, 7, 187, 0.708);
    border-radius:20px ;
}
.big-data h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem;
    font-weight: 700;
    /* border: 1px solid red; */
    width: 65%;
    margin: 1.2rem 0;
}
.big-data > p{
    font-family: 'Montserrat', sans-serif;
    font-size: .9rem;
    font-weight: 500;
    text-align: center;
    color: #9d9c9c;
    width: 65%;
    line-height: 1.4rem;
    margin-bottom: 1rem;
}
.big-data .card-section{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 1rem;
}
.big-data .card-section .card-1 img, .card-2 img,.card-3 img{
    cursor: pointer;
    transition: .4s ease-in-out;
    border-radius: 50%;
}
.big-data .card-section .card-1 img:hover, .card-2 img:hover,.card-3 img:hover{
    box-shadow: 0px 0px 10px 2px rgba(70, 7, 187, 0.708);
    border-radius: 50%;
    transform: translateY(-7px);
}
.big-data .card-section .card-1, .card-2,.card-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.big-data .card-section .card-1 h4,.card-2 h4,.card-3 h4{
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    font-weight:bolder;
    text-align: center;
}
.big-data .card-section .card-1 p, .card-2 p, .card-3 p{
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    color: #878787;
    font-weight:500;
    line-height: 1.1rem;
    text-align: center;
}
/* ----------------------------------- Section-2 -------------------------- */
.launch{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.launch .left img{
    width: 18rem;
    margin-right: 5rem;
    margin-left: -5rem;
    transition: .5s ease-in-out;
    cursor: pointer;
} 
.launch .left img:hover{
    transform: translateY(-10px);
}
.launch .right .btn,.engineer .left .btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: .5rem 0;
    background-color:rgb(246, 238, 255) ;
    cursor: pointer;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    color: #813fe4;
    font-weight: 500;
    width: 50%;
    gap: 10px;
    margin-bottom: 1rem;
    transition: .5s ease-in-out;
}
.launch .right .btn:hover,.engineer .left .btn:hover{
    transform: translateY(-10px);
    box-shadow: 0px 0px 10px 2px rgba(70, 7, 187, 0.708);
    border-radius:20px ;
}
.launch .right .btn img,.engineer .left .btn img{
    width: 1.4rem;
}
.launch .right h1,.engineer .left h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight:bold;
    margin: 1rem 0;
}
.launch .right p,.engineer .left p{
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    color: #878787;
    font-weight:500;
    line-height: 1.2rem;
}
/* ----------------------------------- Section-3 ---------------------- */
.engineer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 4rem 0 2rem 0;
}
.engineer .right img{
    width:29rem;
    transition: .5s ease-in-out;
} 
.engineer .left{
    margin-left: 8rem;
}
.engineer .right img:hover{
    transform: translateY(-15px);
}

/* ------------------------------- Section-4 ----------------------- */
.profile-1{
    width: 100%;
    clip-path: polygon(0 20%, 100% 5%, 100% 80%, 0% 100%);
    background-color: rgb(250, 246, 255);
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profile-1 .profile-1-details{
    border-bottom: 1.5px solid rgb(216, 199, 229);
    margin-top: 9rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
    width: 70%;
}
.profile-1 .profile-1-details h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    font-weight:600;
    line-height: 1.4rem;
}
.profile-1 .profile-1-details img{
    width: 4.5rem;
    transition: .4s ease-in-out;
    border-radius:50px ;
}
.profile-1 .profile-1-details img:hover{
    box-shadow: 0px 0px 15px 2px rgba(72, 10, 187, 0.6);
    border-radius:50px ;
    cursor: pointer;
}
.profile-1 .profile-1-details > h4{
    font-family: 'Montserrat', sans-serif;
    font-size: .7rem;
    font-weight:700;
    line-height: 1.2rem;
    margin-bottom: 1rem;
}
.profile-1 .logo-banner img{
    width: 5.5rem;
    transition: .3s ease-in-out;
}
.profile-1 .logo-banner img:hover{
    transform: translateY(-10px);
    cursor: pointer;
}
.profile-1 .logo-banner{
    margin-bottom: 9rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:65%;
}

/* ----------------------------------- Section-5 ---------------------- */
.sign-up{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4rem;
    gap: 30px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}
.sign-up .left-side{
    margin-top: 1rem;
    margin-right: 3rem;
}
.sign-up .left-side h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    font-weight:700;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.sign-up .left-side .line .lines{
    border-bottom: 1px solid  #9b9b9b;
    width: 33%;
}
.sign-up .left-side .line{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sign-up .left-side .line p{
    margin: 0 .9rem 0rem .9rem;
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    font-weight:600;
    color: #9b9b9b;
}
.sign-up .left-side .img-grid{
    display: grid;
    grid-template-columns: 100px 100px;
    justify-content: space-between;
    gap: 10px;
    width: 90%;
}
.sign-up .left-side .img-grid img{
    width: 5rem;
    margin: 1.8rem 0;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.sign-up .left-side .img-grid img:hover{
    transform: translateY(-7px);
}
.sign-up .right-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 0 1.5rem;
    margin-right: 1rem;
    box-shadow: 0px 1px 10px 1px rgba(127, 127, 127, 0.3);
}
.sign-up .right-side h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    font-weight:700;
    margin: 1rem 0 .6rem 0;
}
.sign-up .right-side form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sign-up .right-side a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    font-weight: 500;
    color: #e5e5e5;
    padding: .6rem 4rem;
    background-color: #732ae0;
    border-radius: 5px;
}
.sign-up .right-side form input{
    padding: .5rem 0 .5rem .5rem;
    border-radius: 5px;
    width:250px;
    margin: .5rem 0 .5rem 0;
    border-width: .8px;
    border-color: #d7d7d7;
}
.sign-up .right-side form input::placeholder{
    font-family: 'Montserrat', sans-serif;
    font-size: .7rem;
    font-weight: 500;
}
.sign-up .right-side form input:focus{
    background-color: #f1f1f1;
}
.sign-up .right-side  p{
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    font-weight: 500;
}
.sign-up .right-side .sign-up-img img{
    width: 10rem;
    margin: .6rem 0 .4rem 0;
    cursor: pointer;
    transition: .4s ease-in-out;
}
.sign-up .right-side .sign-up-img img:hover{
    box-shadow: 0px 1px 10px 1px rgba(199, 161, 245, 0.6);
}
.sign-up .right-side h4{
    font-family: 'Montserrat', sans-serif;
    font-size: .7rem;
    font-weight: 600;
    color: #797979;
    margin-bottom: 1rem;
    padding-top: .5rem;
    width: 250px;
    text-align: center;
    border-top: 1.5px solid rgb(162, 162, 162);
}
.sign-up .right-side h4 span{
    color: #732ae0;
    font-size: .8rem;
    cursor: pointer;
}