*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:#f1f3f5;
}
.navbar-container{
    display: flex;
    width: auto;
    height: 80px;
    border: 1px solid red;
}
.list{
    list-style: none;
    font-family:sans-serif;
    display: flex;
}