* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #f1f3f5;
}

.navbar-container {
    background-color: aqua;
    display: flex;
    width: 100vw;
    height: 15vh;
    justify-content:space-between;
}

.navbar-container>div>img {
    width: 140px;
    margin-top: 20px;
    margin-left: 60PX;
}

.list {
    list-style: none;
    font-family: sans-serif;
    display: flex;
    gap: 45px;
    font-weight: 550;
    font-size: 14px;
    margin-top:40px;
    margin-right: 100px;
}
li:nth-child(1){
    color: rgb(58, 191, 58);
}