@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(11, 11, 11);
}
body::-webkit-scrollbar{
    display: none;
}
header{
    /* border: 1px solid red; */
    height: 18vh;
}
.navbar-container{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    /* border: 1px solid gold; */
    width: 100vw;
    height: 15vh;
}
a{
    text-decoration: none;
    color: #ffffff;
}
.nav-logo>img{
    width: 120px;
    cursor: pointer;
    margin-left: 70px;
}
.list{
    list-style: none;
    margin-left: 200px;
    display: flex;
}
.list-item{
    font-family: 'Golos Text', sans-serif;
    font-size: 13px;
    /* border: 1px solid gold; */
    padding: 0px 15px;
}
.caret{
    font-family: 'Golos Text', sans-serif;
    font-size: 13px;
    margin-left: 160px;
}
.Contact{
    margin-left:40px;
    font-family: 'Golos Text', sans-serif;
    font-size: 13px;
    background-image:url(./Assets/Icons/btn-pink-bg.svg);
    background-repeat: no-repeat;
    padding: 5px 15px;
    /* border: 1px solid gold; */
    background-position:center left;
    background-size:35px;
}
.hero-section{
    display: flex;
    width: 100%;
    height:130vh;
}
.left-hero>.hero-heading{
    font-size: 70px;
    width:800px;
    font-family: 'Manrope', sans-serif;
    /* font-family: 'Rubik', sans-serif; */
    font-weight: 500;
    position: relative;
    top: 60px;
    left: 50px;
    color: #ffffff;
}
.left-hero>.hero-heading>span{
    color: rgb(189, 19, 205);
    font-weight: 700;
}
.left-hero>.hero-description{
    font-size: 20px;
    padding: 90px 0px 60px 50px;
    font-family: 'Manrope', sans-serif;
    /* font-family: 'Rubik', sans-serif; */
    color: rgb(136, 136, 136);
    width: 600px;
}
.left-hero>div>a{
    margin-left:52px;
    font-family: 'Golos Text', sans-serif;
    font-size: 20px;
    background-image:url(./Assets/Icons/btn-pink-bg.svg);
    background-repeat: no-repeat;
    padding: 5px 5px 5px 25px;
    /* border: 1px solid gold; */
    background-position:center left;
    background-size:58px;
}
.rating{
    display: flex;
    position: relative;
    left: 55px;
    top: 60px;
}
.rating>h1:nth-child(1){
    font-size: 40px;
    color: #ffffff;
    font-family: 'Manrope', sans-serif;
    font-weight:700;
}
.plus{
    font-size: 35px;
    color: rgb(189, 19, 205);
    font-weight:900;
    width: 10px;
    padding: 8px 0px 0px 5px;

}
.active{
    color: #ffffff;
    font-family: 'Manrope', sans-serif;
    padding: 8px 0px 0px 35px;
    font-size: 14px;
}
.second{
    font-size: 40px;
    color: #ffffff;
    font-family: 'Manrope', sans-serif;
    font-weight:700;
    position: relative;
    left: 70px;
    bottom: 2px;
}
.pls{
    font-size: 35px;
    color: rgb(189, 19, 205);
    font-weight:900;
    width: 10px;
    padding: 8px 0px 0px 5px;
    position: relative;
    left: 70px;
    bottom: 1px;
}
.year{
    color: #ffffff;
    font-family: 'Manrope', sans-serif;
    padding: 8px 0px 0px 35px;
    font-size: 14px;
    position: relative;
    left: 70px;
}
.rating>img{
    height:50px;
    left: 40px;
    /* border:1px solid #bc1b1b; */
    position: relative;

}
.right-hero img{
    width:700px;
}
.front-card{
    position: absolute;
    top:100px;
    right: -170px;
    z-index: 2;
}
.back-card{
    position: relative;
    z-index: 1;
    left:-390px;
    bottom: 50px;
}
.multi-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 50px 100px;
    background-color: #302f2f;
}
.multi-logo img{
    width: 120px;
}
.payment{
    width: 100%;
    /* height: 100vh; */
}
.text{
    display: flex;
    justify-content: space-between;
    padding: 120px 70px 0px 70px;
}
.pay-heading{
    font-family: 'Manrope', sans-serif;
    color: #ffffff;
    font-size: 60px;
    font-weight: 500;
}
.pay-heading span{
    color: rgb(189, 19, 205);
    font-weight: 800;
}
.pay-description{
    color: #ffffff;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    color: rgb(165, 165, 165);
    width: 750px;
    position: relative;
    top: 50px;
    right: 15px;
}
.card-image{
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 500px;
    margin-top: 100px;
}
.card-image img{
    width: 100px;
}
.card-image p{
    color: #ffffff;
    font-family: 'Manrope', sans-serif;
}
.card1{
    height: 200px;
    width: 250px;
    background-color: #353535;
    padding: 20px 35px;
    margin: 15px;
    position: relative;
    text-align: center;
    border: 1px solid #ffffff;
}
.card1 p{
    font-size: 20px;
    width: 220px;
    padding: 20px 30px 0px 0px;
    font-weight: 500;
}
.card1:hover{
    border-color: aqua;
    transition: .4s;
    cursor: pointer;
}
.card2{
    height: 220px;
    width: 250px;
    background-color: #3b3a3a;
    padding: 20px 35px;
    margin: 15px;
    bottom: 40px;
    position: relative;
    text-align: center;
    border: 1px solid #ffffff;
}
.card2 p{
    font-size: 18px;
    width: 225px;
    padding: 20px 30px 0px 0px;
    font-weight: 500;
}
.card2:hover{
    border-color: aqua;
    transition: .4s;
    cursor: pointer;
}
.card3{
    height: 200px;
    width: 250px;
    background-color: #3b3a3a;
    padding: 20px 35px;
    margin: 15px;
    position: relative;
    text-align: center;
    border: 1px solid #ffffff;
}
.card3 p{
    font-size: 20px;
    width: 220px;
    padding: 20px 30px 0px 0px;
    font-weight: 500;
}
.card3:hover{
    border-color: aqua;
    transition: .4s;
    cursor: pointer;
}
.card-choice{
    /* background-image: url(./Assets/Photos/VCards.png);
    background-repeat: no-repeat;
    background-size:800px 600px;
    background-position: center; */
    width: 100%;
    /* height: 150vh; */
    background-color: rgb(255, 241, 244);
}
.pink-card{
    position: relative;
    top: -25px;
    left: 100px;
    width:900px;
}
.card-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:rgb(27, 27, 27);
}
.unique{
    padding: 130px 0px 50px 0px ;
    font-size: 55px;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    width:600px;
    /* text-align: justify; */
    text-align-last:center;
}
.unique span{
    color:rgb(230, 47, 246) ;
    font-weight: 800;
}
.card-para{
    font-size: 17px;
    font-family: 'Manrope', sans-serif;
    width: 600px;
    text-align-last:center;
    text-align:center;
}

.rating-card{
    display:grid;
    grid-template-columns: 400px 400px;
    justify-content: center;
}
.customer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rating-heading{
    color: #ffffff;
    font-family: 'Manrope', sans-serif;
    font-size: 55px;
    width: 800px;
    font-weight: 400;
    text-align: center;
    padding: 90px 0px 50px 0px;
}
.rating-description{
    font-size: 16px;
    font-family: 'Manrope', sans-serif;
    width: 450px;
    text-align-last:center;
    text-align:center;
    color:rgb(169, 168, 168);
    font-weight: 400;
    word-spacing: 1px;
    padding: 0px 0px 80px 0px;
}
.rating-heading span{
    color:rgb(230, 47, 246) ;
    font-weight: 800;
}
.rating1{
    height: 200px;
    width: 400px;
    background-color: #3b3a3a;
    padding: 20px 15px;
    position: relative;
    right: 50px;
    /* text-align: center; */
    border: 1px solid #ffffff;
}
.rating1:hover,.rating2:hover,.rating3:hover,.rating4:hover{
    border-color: rgb(10, 224, 224);
    transition: .4s;
    cursor: pointer;
}
.rating1>img{
    width:120px;
}
.p1{
    color: #ebebeb;
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    font-weight: 500;
    width: 340px;
    word-spacing: 2px;
    padding: 20px 0px 20px 0px;
}
.p2{
    color: #f5f4f4;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    /* width: 340px; */
    /* word-spacing: 2px; */
    padding: 10px 0px 3px 0px;
}
.p3{
    color: #cfcccc;
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    /* width: 340px; */
    /* word-spacing: 2px; */
    /* padding: 0px 0px 7px 0px; */
}
.rating2{
    height: 200px;
    width: 400px;
    background-color: #2a2929;
    padding: 20px 20px;
    /* margin: 15px; */
    position: relative;
    left: 50px;
    /* text-align: center; */
    border: 1px solid #ffffff;
}
.rating2>img{
    width:120px;
}
.p4{
    color: #f5f4f4;
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    width: 340px;
    font-weight: 500;
    word-spacing: 2px;
    line-height: 20px;
    padding: 20px 0px 0px 0px;
}
.p5{
    color: #f5f4f4;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    padding: 15px 0px 3px 0px;
}
.p6{
    color: #cfcccc;
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
}
.rating3{
    height: 200px;
    width: 400px;
    background-color: #3b3a3a;
    padding: 20px 35px;
    /* margin: 15px; */
    position: relative;
    right:50px;
    top: 70px;
    /* text-align: center; */
    border: 1px solid #ffffff;
}
.rating3>img{
    width:120px;
}
.p7{
    color: #f5f4f4;
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    width: 340px;
    font-weight: 500;
    word-spacing: 2px;
    line-height: 20px;
    padding: 20px 0px 0px 0px;
}
.p8{
    color: #f5f4f4;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    padding: 15px 0px 3px 0px;
}
.p9{
    color: #cfcccc;
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
}
.rating4{
    height: 200px;
    width: 400px;
    background-color: #3b3a3a;
    padding: 20px 35px;
    /* margin: 15px; */
    position: relative;
    left: 50px;
    top: 70px;
    /* text-align: center; */
    border: 1px solid #ffffff;
}
.rating4>img{
    width:120px;
}
.p10{
    color: #f5f4f4;
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    width: 340px;
    font-weight: 500;
    word-spacing: 2px;
    line-height: 20px;
    padding: 20px 0px 0px 0px;
}
.p11{
    color: #f5f4f4;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    padding: 15px 0px 3px 0px;
}
.p12{
    color: #cfcccc;
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
}
.r-button{
    position: relative;
    top: 150px;
    left: 450px;
}
.btn1{
    border-radius: 20px;
    padding: 10px 50px;
    background-color:rgb(230, 47, 246);
    margin-right: 10px;
}
.btn2{
    padding: 9px 9px;
    border-radius: 50px;
    background-color: #3b3a3a;
    margin-right: 5px;
}
.btn3{
    padding: 9px 9px;
    border-radius: 50px;
    background-color: #3b3a3a;
    margin-right: 5px;
}
.btn4{
    padding: 9px 9px;
    border-radius: 50px;
    background-color: #3b3a3a;
}
.pink-image{
    position: relative;
    top: 300px;
    height: 100vh;
}
.pnk-2{
    position: relative;
    bottom: 410px;
    height: 80vh;
    width: 100%;
}
.pnk-1{
    height: 80vh;
    width: 100%;
}
.diamond-image{
    display: flex;
}
.left-diamond{
    width: 400px;
    position: relative;
    bottom: 215px;
}
.right-diamond{
    position: relative;
    bottom: 175px;
    width: 400px;
    left: 300px;
}
.customing{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    bottom: 500px;
}
.customing span:nth-child(2){
    position: relative;
    left: 80px;
    bottom: 18px;
}
.customing span img{
    width: 40px;
    position: relative;
    bottom: 525px;
    left: 70px;
}
.lets-start{
    color: #f5f4f4;
    font-family: 'Manrope', sans-serif;
    font-size: 56px;
    width: 800px;
    word-spacing: 2px;
    font-weight: 700;
    padding: 0px 0px 20px 0px;
    /* border: 1px solid gold;  */
    position: relative;
    bottom: 500px; 
}
.customing span:nth-child(1){
    color:#302f2f;
}
.lets-btn{
    /* margin-left:40px; */
    font-family: 'Golos Text', sans-serif;
    font-size: 18px;
    font-weight: 500;
    background-image:url(./Assets/Icons/btn-pink-bg.svg);
    background-repeat: no-repeat;
    padding: 5px 25px;
    /* border: 1px solid gold; */
    background-position:center left;
    background-size:55px;
    position: relative;
    bottom: 500px;
    right: 20px;
}