@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    min-height: 100vh;
    padding: 0 5.5rem;
    background-color: #171819;
    /* border: 1px solid gold; */
}
.navbar-container{
    padding-top: 20px;
    width: 100%;
    height: 80px;
    /* border: 1px solid aqua; */
}
.navbar-container,.nav-menu,.list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid white; */

}
.navbar-container>.logo>img{
    width:8rem;
    cursor: pointer;
}
.nav-menu{
    width: 70%;
    height:60px;
}
.nav-menu .list li{
    list-style: none;
    padding-right:30px;
}
.nav-menu .list li a{
    text-decoration: none;
    color:#a2a2a2;
    font-size: .7rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    transition: .3s ease-in-out;
}
.nav-menu .list li a:hover{
    color: rgb(190, 60, 60);
}
.nav-menu .login-btn{
    padding: 8px 25px;
    background-color: rgb(70, 148, 238);
    border-radius: 20px;
    border: 1px solid rgb(70, 148, 238);
    transition: .4s ease;
}
.nav-menu .login-btn a{
    color: #fff;
    text-decoration: none;
    font-size: .8rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.nav-menu .login-btn:hover{
    background-color:transparent;
    border-color: rgb(225, 21, 21) ;
    cursor:pointer;
}
.hero-container{
    width: 100%;
    padding: 4rem 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
}
.hero-container .left h1{
    color: #fff;
    font-weight:700;
    font-size: 3.5rem;
    font-family: 'Nunito Sans', sans-serif;
    /* word-spacing:px; */
    line-height:4rem;
}
.hero-container .left h1 span{
    color: rgb(59, 134, 255);
    font-style: italic;
    font-weight:700;
    font-family: 'Roboto', sans-serif;
}
.hero-container .left p{
    color:#838282;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    word-spacing: 2px;
    line-height: 22px;
    margin-top: 15px;
}
.hero-container>.left>.h-btn>a{
    text-decoration: none;
    font-family:poppins;
    font-size: .8rem;
    color: #fff;
    padding: 10px 20px;
    background-color: rgb(70, 148, 238);
    border-radius: 20px;
    border: 1px solid #fff;
    transition: .4s ease; 
}
.hero-container>.left>.h-btn>a:hover{
    background-color: transparent;
    border-color: rgb(163, 14, 14) ;
}
.hero-container>.left>.h-btn .btn-2{
    background-color: transparent;
    margin-left:20px;
}
.hero-container>.left>.h-btn{
    margin-top: 2.5rem;
}
.hero-container>.right>img{
    width:25rem;
    padding-right: 15px;
}
.multiple-logo{
    width: 100%;
    height: 5.5rem;
    padding: 0 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #232323;
}
.multiple-logo img{
    width:7rem;
}
.Features{
    width: 100%;
    min-height: 100vh;
    padding: 0 5.5rem;
    background-color: #ffffff;
}
.service{
    text-align: center;
    padding: 6rem 3rem 4rem 3rem;
    font-family: 'Nunito Sans', sans-serif;
}
.service h1{
    font-size: 2.7rem;
    font-weight:700;
    padding-bottom: 1rem;
}
.service p{
    color: #a2a2a2;
    font-size: 1rem;
    word-spacing: 1px;
    line-height: 22px;
}
.card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito Sans', sans-serif;
}
.card-container .card1,.card2,.card3{
    border: 2px solid rgb(177, 175, 175);
    text-align: center;
    border-radius:1.3rem;
    width:16rem;
    height: 16rem;
    transition: .2s ease-in-out;
}
.card-container .card1:hover,.card2:hover,.card3:hover{
    cursor: pointer;
    border-color: rgb(151, 27, 27);

}
.card-container .card2{
    background-color: #212121;
    border: none;
    transition: .4s ease-in-out;
    margin:0 2.5rem 5rem 2.5rem;
    box-shadow:0px 6.1px 4.4px rgba(0, 0, 0, 0.144),0px 49px 48px rgba(0, 0, 0, 0.21);
}
.card-container .card2:hover{
    background-color:rgba(118, 8, 178, 0.851);
}
.card-container .card2 h1{
    color:rgb(243, 241, 241);
    font-weight: 600;
}
.card-container .card1 img, .card2 img, .card3 img{
    width: 4.5rem;
    padding: 1.2rem 0 1rem 0;
}
.card-container .card1 h1, .card2 h1, .card3 h1{
    font-size:1.3rem;
    font-weight:800;
    color: #333333;
}
.card-container .card1 p, .card2 p, .card3 p{
    font-size:.9rem;
    font-weight: 600;
    color: #838282;
    padding: .7rem 0 0 0;
    transition: .4s ease-in-out;
}
.card-container .card2 p:hover{
    color: #fef8f8;
}
.support-h{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.7rem;
    padding-left: 2rem;
    margin-top: 4.5rem;
}
.feature-details{
    display: flex;
    padding: 2.7rem 2rem 0 2rem;
    justify-content:space-between;
    padding-bottom: 5rem;
}
.feature-details .left .f1{
    /* border: 1px solid red; */
    background-color: rgb(63, 135, 242);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 460px;
    padding: 1.2rem 1.4rem;
    border-radius: 40px;
}
.feature-details .left .f2,.f3,.f4,.f5{
    background-color: #fff;
    border: 1.2px solid rgb(184, 183, 183);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 460px;
    padding: 1.2rem 1.4rem;
    border-radius: 40px;
    margin: 1.3rem 0 1.3rem 0;
}
.feature-details .left .f1 h1{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.3rem;
    color: #ffffff;
}
.feature-details .left .f2 h1,.f3 h1,.f4 h1,.f5 h1{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.3rem;
    color: #171717;
}
.feature-details .left .f1 img,.f2 img,.f3 img,.f4 img,.f5 img{
    width: 2rem;
}
.right{
    border: 1px solid black;
    width: 365px;
    border-radius: 25px;
    padding: .8rem .8rem;
    height: 100%;
    background-color: #000000;
}
.feature-details .right .r1,.r2,.r3,.r4,.r5,.r6,.r7,.r8{
    background-color: #252424;
    /* border: 1.2px solid rgb(184, 183, 183); */
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    gap: 10px;
    width: 340px;
    padding: .8rem 1.2rem;
    border-radius: 40px;
    margin: .5rem 0 .5rem 0;
}
.feature-details .right .r1 h1 ,.r2 h1,.r3 h1,.r4 h1,.r5 h1,.r6 h1,.r7 h1,.r8 h1{
    font-family: 'Nunito Sans', sans-serif;
    font-size: .9rem;
    color: #e9e8e8;
    font-weight: 400;
    /* position:relative;
    right: 55px; */
    font-family: 'Rubik', sans-serif;
    
}
.circle{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #e7e7e7;
}
.price-card{
    width: 100%;
    min-height: 100vh;
    padding:0 5.5rem;
    background-color: #171718;
}
.hosting-head{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    /* border: 1px solid gold; */
}
.hosting-head .l-img img{
    width: 2.7rem;
    margin-top: 6rem;
    margin-left: 2rem;
}
.hosting-head .text h1{
    color: #fbfbfb;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    font-size: 2.5rem;
}
.hosting-head .r-img img{
    width: 2.7rem;
    margin-top: 6rem;
    margin-right: 2rem;
}
.p-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding: 1rem 1.2rem; */
    margin-top: 4rem;
    padding: 0 1rem 4rem 1rem;
}
.p-card .p-card1,.p-card3{
    background-color: #fcfbfb;
    padding: 1rem 1.4rem;
    border-radius: 15px;
    font-family: 'Inter', sans-serif;
}
.p-card .p-card1 .L1,.p-card3 .R1{
    border-bottom:1px solid #a2a2a2;
    margin-bottom: 1.5rem;
}
.p-card .p-card1 .L1 h2,.p-card3 .R1 h2{
    font-size: 1.5rem;
}
.p-card .p-card1 .L1 h1,.p-card3 .R1 h1{
    font-size: 2.5rem;
    margin: 1rem 0 1rem 0;
}
.p-card .p-card1 .L1 h1 span,.p-card3 .R1 h1 span{
    font-size: 1.5rem;
    color: #838282;
    font-weight: 500;
}
.p-card .p-card1 .L1 p,.p-card3 .R1 p{
    font-size: .7rem;
    font-weight: bolder;
    padding-bottom: 1.5rem;
}
.p-card .p-card1 .L2,.L3,.L4,.L5,.L6,.L7,.L8,.p-card3 .R2,.R3,.R4,.R5,.R6,.R7,.R8{
    display: flex;
    flex-direction: row;
    margin: 1rem 0 1rem 0;
    gap: 10px;
}
.blue-tick img{
    width: .9rem;
}
.p-card .p-card1 .L2 p,.L3 p,.L4 p,.L5 p,.L6 p,.L7 p,.L8 p,.p-card3 .R2 p,.R3 p,.R4 p,.R5 p,.R6 p,.R7 p,.R8 p{
    font-size: .9rem;
    font-weight: 500;
}
.p-card .p-card1 .select-btn a,.p-card3 .select-btn a{
    padding: .7rem 6rem;
    background-color: rgb(32, 103, 227);
    color: #e9e8e8;
    text-decoration: none;
    font-size: .8rem;
    border-radius: 15px;

}
.p-card .p-card1 .select-btn{
    margin: 1.5rem 0 1rem 0;
}
.p-card2 .M1 h2{
    font-size: 1.5rem;
    color: #fffdfd;
}
.p-card .p-card2{
    background-color: rgb(87, 163, 255);
    padding: 1rem 1.4rem;
    border-radius: 15px;
    font-family: 'Inter', sans-serif;
}
.p-card .p-card2 .M1 h1{
    font-size:2.5rem;
    color:#fbfbfb;
    font-weight: 500;
    margin: .7rem 0 .7rem 0;
}
.p-card .p-card2 .M1 h1 span{
    color: #a8d5fd;
    font-size: 1.5rem;
    font-weight: 500;

}
.p-card .p-card2 .M1 p{
    font-size: .7rem;
    font-weight:500;
    padding-bottom:1.2rem;
    line-height: 18px;
    color:#f9f9f9;
}
.p-card .p-card2 .M1{
    border-bottom:1px solid #a8d5fd;
    margin-bottom: 1.5rem;
}
.p-card .p-card2 .M2,.M3,.M4,.M5,.M6,.M7,.M8{
    display: flex;
    flex-direction: row;
    margin: .8rem 0 .8rem 0;
    gap: 10px;
    line-height:20px;
}
.p-card .p-card2 .M2 p,.M3 p,.M4 p,.M5 p,.M6 p,.M7 p,.M8 p{
    font-size: .9rem;
    font-weight:400;
    color: #d6eeff;
}
.p-card .p-card2 .select-btn a{
    padding: .7rem 6rem;
    background-color: #e9e8e8 ;
    color: rgb(32, 103, 227);
    text-decoration: none;
    font-size: .8rem;
    border-radius: 15px;
}
.p-card .p-card2 .select-btn{
    margin: 1.6rem 0 1rem 0;
}
.p-card .p-card3 .R1 p{
    line-height: 17px;
}
.p-card.p-card3 .R2,.R3,.R4,.R5,.R6,.R7,.R8{
    line-height: 14px;
}
.p-card .p-card3 .select-btn{
    margin: 1.2rem 0 1rem 0;
}
.customer-rating{
    width: 100%;
    min-height: 100vh;
    padding: 5.5rem 5.2rem 0 5.2rem;
}
.rating-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Nunito Sans', sans-serif;
}
.rating-head h1{
    font-size: 2.8rem;
    line-height:3.5rem;
}
.rating-head p{
    color: #a2a2a2;
}
.rating-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3rem 0 3.5rem 0;
    gap: 20px;
}
.rating-card .left-rating,.right-rating{
    /* border: 1px solid red; */
    width: 450px;
    height:270px;
    padding: 1.5rem 1.2rem;
    border-radius: 15px;
    background-color: #000000;
}
.rating-card .right-rating{
    background-color: #fff;
    border: 1px solid black;
}
.rating-card .left-rating .mark span img,.right-rating .mark span img{
    width: 1rem;
}
.rating-card .left-rating h3,.right-rating h3{
    font-size: 1rem;
    margin: 1rem 0;
    font-family: 'Nunito Sans', sans-serif;
    color: #f7f6f6;
}
.rating-card .right-rating h3{
    color: #000000;
    font-size: 1rem;
    /* margin: 1rem 0; */
    font-family: 'Nunito Sans', sans-serif;
}
.rating-card .left-rating h3 span{
    font-size: .8rem;
    color: #a2a2a2;
    font-weight: 400;
}
.rating-card .right-rating h3 span{
    font-size: .8rem;
    color: #2b2b2b;
    /* font-weight:600; */
}
.rating-card .left-rating p{
    font-size: 1.2rem;
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 1rem;
    color: #f6f6f6;
}
.rating-card .right-rating p{
    font-size: 1.3rem;
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 1rem;
    color: #090909;
    font-weight: 600;
}
.rating-card .left-rating .star img,.right-rating .star img{
    width: 1.3rem;
}
