@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(239,239,239);
}
body::-webkit-scrollbar{
    display: none;
}
header{
    width: 100%;
    min-height:133vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(./Assets/Photos/mainBackground.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 0% 85%;
    padding: 0rem 5rem;
}
/* -----------------------------Navigation Section--------------------------- */
.navbar-container{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem 1.5rem 2rem;
    border-bottom: 1px solid rgb(245, 245, 245);
}
.navbar-container .logo img{
    width: 7.8rem;
    cursor: pointer;
}
.navbar-container .nav-menu .list{
    display: flex;
    flex-direction: row;
    list-style: none;
    /* border: 1px solid red; */
}
.navbar-container .nav-menu .list a{
    text-decoration: none;
    color: rgb(245, 245, 245);
    font-family: 'Poppins', sans-serif;
    font-weight:300;
    font-size: .9rem;
    margin-right: 2.5rem;
    transition: .3s ease-in-out;
}
.navbar-container .nav-menu .list a:hover{
    color: rgb(189, 234, 64);
}
/* ------------------Hero Section-------------------------------- */
header .hero{
    margin-top:7rem;
    margin-left:2.2rem;
}
header .hero h1{
    font-family: 'Manrope', sans-serif;
    font-size: 3.5rem;
    color: rgb(245, 245, 245);
    line-height: 4rem;
    margin-bottom: 1.4rem;
}
header .hero p{
    font-family: 'Manrope', sans-serif;
    font-size: .9rem;
    color: rgb(228, 228, 228);
    line-height: 1.5rem;
    word-spacing: 1px;
    margin-bottom: 2.2rem;
}
header .hero a{
    text-decoration: none;
    color: rgb(245 , 245, 245);
    font-family: 'Manrope', sans-serif;
    font-size: .9rem;
    font-weight: 700;
    padding: .8rem 2.3rem;
    background-color: rgb(121, 102, 188);
    border-radius: 25px;
    transition: .2s ease;
}
header .hero a:hover{
    background-color:transparent;
    border: 1px solid rgb(245, 245, 245);
}
/* ----------------------------- Multiple Logo Section --------------------------- */
.multiple-logo{
    background-color: rgb(255, 254, 254);
    padding: 3.5rem 3.5rem;
    width:95%;
    border-radius: 15px;
    position:absolute;
    top:37rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1.7rem;
    justify-content: space-around;
    /* border: 1px solid red; */
    box-shadow: 0px 15px 25px -10px rgba(0,0,0,0.25);
}
.multiple-logo img{
    width: 6.5rem;
}
/* --------------------------- Card Section ------------------------------ */
.card{
    padding-bottom: 5rem;
}
/* ------------------------------ Card Heading --------------------------- */
.card .card-heading{
    /* border: 1px solid red; */
    padding-bottom:2rem;
    padding-top: 8rem;
}
.card .card-heading h1{
    font-size:2.5rem ;
    font-family: 'Manrope', sans-serif;
    text-align: center;
}
.card-container{
    display: grid;
    grid-template-columns:280px 280px 280px;
    margin-left: 9rem;
}
.card-container .card1{
    width:265px;
    height: 350px;
    /* border: 1px solid red; */
}
.card-container .card1:nth-child(2){
    margin-top: 1rem;
}
.card-container .card1:nth-child(3){
    margin-top: 2rem;
}
.card-container .card1:nth-child(4){
    margin-top: 4rem;
}
.card-container .card1:nth-child(5){
    margin-top: 3rem;
}
.card-container .card1:nth-child(6){
    margin-top: 2rem;
}
.card-container .card1:nth-child(7){
    margin-top: 2rem;
}
.card-container .card1:nth-child(8){
    margin-top: 3rem;
}
.card-container .card1:nth-child(9){
    margin-top: 4rem;
}
.card-container .card1 .card1-img{
    /* border: 1px solid red; */
    overflow: hidden;
    border-radius: 20px;
}
.card-container .card1 .card1-img img{
    width:320px;
    height:300px;
    border-radius: 20px;
    cursor: pointer;
    transform: translateY(0px);
    transition: .3s ease-in-out;
}
.card-container .card1 .card1-img img:hover{
    transform: translateY(7px);
}
.card-container .card1 .card1-details{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid blue; */
    width:86%;
    padding: .8rem 1rem;
    background-color: #fff;
    border-radius: 15px;
    position: relative;
    bottom: 2.8rem;
    left: 1.09rem;
    box-shadow: 0px 15px 25px -10px rgba(0,0,0,0.25);
}
.card-container .card1 .card1-details .price h4{
    font-size:1rem ;
    font-family: 'Manrope', sans-serif;
    margin-bottom: .5rem;
}
.card-container .card1 .card1-details .price p{
    font-size:.9rem ;
    font-family: 'Manrope', sans-serif;
    color: rgb(95, 52, 237);
    font-weight: 900;
}
.card-container .card1 .card1-details a{
    text-decoration: none;
    color: rgb(245, 245, 245);
    padding: .6rem 1.5rem;
    background-color:  rgb(95, 52, 237);
    font-size:.8rem ;
    font-weight: 500;
    font-family: 'Manrope', sans-serif;
    border-radius: 20px;
    transition: .3s ease-in-out;
}
.card-container .card1 .card1-details a:hover{
    background-color: transparent;
    color:rgb(227, 3, 3);
    border: 1px solid rgb(237, 52, 52);
}
/* ---------------------------------------- Big Card Section ----------------------- */

.big-card .big-card1,.big-card2{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    gap:3rem;
}
.big-card .big-card1 .big-card-img{
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
    width: 50%;
}
.big-card .big-card2 .big-card-img{
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
}
.big-card .big-card1 .big-card-img img:nth-child(1){
    width:500px;
    height:500px;
}
.big-card .big-card1 .big-card-img img:nth-child(2){
    width:357px;
    height:357px;
    border-radius: 20px;
    position:relative;
    right:400px;
    top: 5px;
    cursor: pointer;
    transform: translateY(0px);
    transition: .4s ease-in-out;
}
.big-card .big-card1 .big-card-img img:nth-child(2):hover{
    transform: translateY(7px);
}
.big-card .big-card1 .card-text h1{
    font-size: 2.7rem;
    font-weight:900;
    font-family: 'Manrope', sans-serif;
    margin-top:5rem;
}
.big-card .big-card1 .card-text p{
    font-size: .8rem;
    font-weight:500;
    font-family: 'Manrope', sans-serif;
    margin-top:1.5rem;
    color: rgb(80, 80, 80);
    line-height:1.3rem;
    margin-bottom: 2.5rem;
}
.big-card .big-card1 .card-text a{
    text-decoration: none;
    color: rgb(250, 247, 247);
    padding: .7rem 1.7rem;
    background-color:rgb(96, 79, 221);
    border-radius: 30px;
    font-family: 'Manrope', sans-serif;
    font-size: .8rem;
    font-weight:bold;
    transition: .2s ease-in;
}
.big-card .big-card1 .card-text a:hover{
    color: rgb(247, 9, 9);
    background-color: transparent;
    border: 1px solid rgb(242, 8, 8);
    box-shadow: 0px 15px 25px -10px rgba(0,0,0,0.25);
}
/* -------------------------------- Big Card 2 ------------------------------ */
.big-card .big-card2 .big-card-img{
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
    width: 50%;
}
.big-card .big-card2 .big-card-img img:nth-child(1){
    width:500px;
    height:400px;
    margin-left:3.6rem;
    margin-top: 3rem;
}
.big-card .big-card2 .big-card-img img:nth-child(2){
    width:357px;
    height:350px;
    border-radius: 20px;
    position:relative;
    right: 447px;
    cursor: pointer;
    transform: translateY(0px);
    transition: .4s ease-in-out;
}
.big-card .big-card2 .big-card-img img:nth-child(2):hover{
    transform: translateY(7px);
}
.big-card .big-card2 .card-text{
    width: 50%;
    padding-left: 7rem;
}
.big-card .big-card2 .card-text h1{
    font-size: 2.7rem;
    font-weight:900;
    font-family: 'Manrope', sans-serif;
    margin-top:5rem;
}
.big-card .big-card2 .card-text p{
    font-size: .8rem;
    font-weight:500;
    font-family: 'Manrope', sans-serif;
    margin-top:1.5rem;
    color: rgb(80, 80, 80);
    line-height:1.3rem;
    margin-bottom: 2.5rem;
}
.big-card .big-card2 .card-text a{
    text-decoration: none;
    color: rgb(250, 247, 247);
    padding: .7rem 1.7rem;
    background-color:rgb(96, 79, 221);
    border-radius: 30px;
    font-family: 'Manrope', sans-serif;
    font-size: .8rem;
    font-weight:bold;
    transition: .2s ease-in;
}
.big-card .big-card2 .card-text a:hover{
    color: rgb(247, 9, 9);
    background-color: transparent;
    border: 1px solid rgb(242, 8, 8);
    box-shadow: 0px 15px 25px -10px rgba(0,0,0,0.25);
}
/* -------------------------------- Subscribe News Letter Section ---------------------- */
.news-letter{
    background-color: rgb(96, 82, 218);
    margin: 0 4rem 0 4rem;
    border-radius: 40px;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3.5rem;
}
.news-letter .subscribe-text h1{
    font-family: 'Manrope', sans-serif;
    font-size: 2.8rem;
    font-weight:bold;
    color: rgb(245, 245, 245);
    text-align: center;
    margin-top: 3rem;
}
.news-letter .subscribe-text p{
    font-family: 'Manrope', sans-serif;
    font-size: .8rem;
    font-weight:400;
    color: rgb(219, 219, 219);
    text-align: center;
    margin-top:1.2rem;
    line-height: 1.2rem;
    margin-bottom: 2.5rem;
}
.news-letter .email-input .mail{
    padding: .8rem 8rem .8rem 3rem;
    border-radius: 20px;
    border: none;
    background-color: rgb(75, 61, 206);
    margin-right:1rem;
    z-index: -1;
    color: #fff;
}
.news-letter .email-input button{
    padding: .8rem  2rem;
    font-family: 'Manrope', sans-serif;
    font-size: .8rem;
    font-weight:bold;
    color: rgb(96, 82, 218);
    border-radius: 40px;
    border: none;
    cursor: pointer;
    transition: .2s ease-in-out;
    transform: translateX(5px);
}
.news-letter .email-input button:hover{
    color: rgb(247, 9, 9);
    transform: translateX(0px);
    box-shadow: 0px 15px 25px -10px rgba(0,0,0,0.25);
}
.news-letter .email-input ::placeholder{
    color: #bababa;
    font-size: .8rem;
}
.news-letter .email-input i{
    position: relative;
    left: 2.6rem;
    z-index: 1000;
    top: .1rem;
}
/*----------------------------Footer Section -----------------------------*/
footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 8rem 2rem 8rem;
}
footer .left .footer-logo img{
    width:8rem;
    margin-bottom:1rem;
    cursor: pointer;
}
footer .left .social-media img{
    width:2.3rem;
    margin-right: 1rem;
    cursor: pointer;
    transform: translateY(0px);
    transition: .3s ease-in-out;
}
footer .left .social-media img:hover{
    transform: translateY(7px);
    box-shadow: 0px 15px 25px -10px rgba(0,0,0,0.25);
}
footer .left .footer-text p{
    font-family: 'Manrope', sans-serif;
    font-size:.9rem;
    margin-top: 1.5rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: #4f4e4e;
    cursor: pointer;
    transition: .3s ease-in-out;
}
footer .left .footer-text p:hover{
    box-shadow: 0px 15px 25px -10px rgba(0,0,0,0.25);
}
footer .right{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 1px solid red; */
    gap: 5rem;
    line-height:2.5rem;
    font-family: 'Manrope', sans-serif;
}
footer .right .menu p{
    font-size: .8rem;
    font-weight:500;
    color: #4f4e4e;
    cursor: pointer;
    transition: .2s ease-in-out;
    transform: translateX(0px);
}
footer .right .menu p:hover{
    color: rgb(28, 6, 223);
    transform: translateX(2px);
    box-shadow: 0px 15px 25px -10px rgba(0,0,0,0.25);
    border-radius:5px;
}