@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body::-webkit-scrollbar{
    display: none;
}
/* ---------------------------------Navigation Section------------------------------------------ */
header{
    width: 100%;
    min-height:100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(./Assets/Photos/mainBackground.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 0% 20%;
    padding: 0rem 5rem;
}
.navbar-container{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem 1.5rem 2rem;
    border-bottom: 1px solid rgb(245, 245, 245);
}
.navbar-container .logo img{
    width: 8rem;
    cursor: pointer;
}
.navbar-container .nav-menu .list{
    display: flex;
    flex-direction: row;
    list-style: none;
    /* border: 1px solid red; */
}
.navbar-container .nav-menu .list a{
    text-decoration: none;
    color: rgb(245, 245, 245);
    font-family: 'Poppins', sans-serif;
    font-weight:300;
    font-size: .9rem;
    margin-right: 2.5rem;
    transition: .3s ease-in-out;
}
.navbar-container .nav-menu .list a:hover{
    color: rgb(189, 234, 64);
}