*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgb(255, 246, 234) ;
}
.navbar-container{
    display: flex;
}
.navbar-container>div> img {
    width: 75px;
    position: relative;
    left: 110px;
    top: 17px;
}
.list{
    position: relative;
    left: 175px;
    gap: 45px;
    top: 26px;
    font-size: 13px;
    list-style: none;
    display: flex;
    font-family:sans-serif;
    color: rgb(66, 64, 64);
}
.hero-container{
    display: flex;
}
.banner>span img{
    width: 140px;
}
.banner>img{
    width: 290px;
}
.banner{
    position:absolute;
    top: 100px;
    right: 180px;
    width: 310px;
}
.hero-container>.text {
    position: absolute;
    line-height: 50px;
    bottom: 110px;
    left: 110px;
}
.hero-heading{
    font-size: 40px;
    font-family:sans-serif;
    width: 400px;
}
.hero-description{
    font-size: 12px;
    font-family:sans-serif;
    color: rgb(66, 64, 64);
}
button{
    width: 100px;
    height: 40px;
    border-radius: 8px;
    border-style: none;
    background-color: rgb(5, 116, 5);
    color: #ffffff;
}