@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(12, 12, 12);
}

/*--------------------------- Navigation Section --------------------------------*/

header{
    width: 100%;
    min-height: 100vh;
}
.navbar-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 8rem;
    margin-top: 2rem;
}
.navbar-container .nav-menu{
    display: flex ;
    flex-direction: row ;
    align-items: center;
}
.navbar-container .nav-menu .list{
    display:flex;
    flex-direction: row;
}
.navbar-container .nav-menu .list a{
    text-decoration: none;
    color: rgb(245, 245, 245);
    font-family: 'Poppins', sans-serif;
    font-size: .8rem;
    font-weight:600;
    margin-right: 3.5rem;
}
.navbar-container .nav-menu .shop-btn a{
    text-decoration: none;
    color: rgb(245, 245, 245);
    font-family: 'Poppins', sans-serif;
    font-size: .7rem;
    font-weight:400;
    padding: .7rem 2.5rem;
    background-color: rgb(38, 38, 38);
    border-radius: 5px;
}